.main-sidebar-content {
    height: 100%;
    width: 15em;
    background-color: rgb(15, 14, 19);
    position: sticky;
}

p {
    margin: 0;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-section p {
    margin-left: 1em;
    overflow: visible;
}

.sidebar-section {
    display: flex;
    padding: 1em;
    color: white;
    margin-left: 1em;
    border-radius: 1em;
}

.sidebar-section:hover {
    background-color: aliceblue;
    color: black;
    text-shadow: 0px 0px;
}

.subtitle {
    padding: 1em;
    color: white;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.placeholder {
    color: rgb(255, 255, 255);
    padding: 1em;
    border-bottom: 2px solid rgb(96, 96, 221);
    border-image: linear-gradient(to right, rgb(15, 14, 19), rgb(96, 96, 221), rgb(15, 14, 19)) 1;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: none;
}