.main-sidebar-content {
    height: calc(100vh - 2.4em - 2px);
    width: 15em;
    background-color: var(--secondary-color);
    position: sticky;
    overflow: auto; 
    top: calc(2.4em + 2px);
}

p {
    margin: 0;
    line-height: 1.25;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-section p {
    margin-left: 1em;
    overflow: visible;
}

.sidebar-section:visited {
    text-decoration: none;
}

.sidebar-section {
    display: flex;
    padding: 1em;
    color: var(--highlight-two);
    margin-left: 1em;
    border-radius: 1em;
    text-decoration: none;
}

.sidebar-section:hover {
    background-color: var(--primary-color);
    text-shadow: 0px 0px;
}

.subtitle {
    padding: 1em;
    color: var(--highlight-two);
    display: flex;
    justify-content: center;
    overflow: visible;
}

.placeholder {
    color: var(--highlight-two);
    padding: 1em;
    border-bottom: 2px solid var(--primary-color);
    border-image: linear-gradient(to right, var(--secondary-color), var(--primary-color), var(--secondary-color)) 1;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: none;
}