p {
    margin: 0;
    text-align: center;
}

.flex {
    display: flex;
}

.top-section {
    background-color: var(--primary-color);
    flex-direction: column;
    color: white;
    justify-content: center;
    font-size: 1rem;
    padding-block: 3rem;
    margin-bottom: 4rem;
}

.title {
    font-size: 8rem;
}

#blog-post-area {
    margin-bottom: 5em;
}

footer {
    display: flex;
    color: var(--highlight-two);
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    text-shadow: none;
    background-color: var(--primary-color);
}
