p {
    margin: 0;
    text-align: center;
}

.flex {
    display: flex;
}

.top-section {
    background-color: rgb(96, 96, 221);
    flex-direction: column;
    color: white;
    justify-content: center;
    font-size: 1rem;
    padding-block: 3rem;
    margin-bottom: 4rem;
}

.title {
    font-size: 8rem;
}
