<div class="flex top-section">
    <p class="title">Blog</p>
    <p>Sharing my opinions, thoughts, and experiences</p>
</div>
<div id="blog-post-area">
    <app-blog-post date="jan 01, 2000" [tags]="['test', 'bruh']" title="Bruh Test"></app-blog-post>
    <app-blog-post date="jan 01, 2000" [tags]="['test', 'bruh']" title="Bruh Test"></app-blog-post>
    <app-blog-post date="jan 01, 2000" [tags]="['test', 'bruh']" title="Bruh Test"></app-blog-post>
    <app-blog-post date="jan 01, 2000" [tags]="['test', 'bruh']" title="Bruh Test"></app-blog-post>
    <app-blog-post date="jan 01, 2000" [tags]="['test', 'bruh']" title="Bruh Test"></app-blog-post>
    <app-blog-post date="jan 01, 2000" [tags]="['test', 'bruh']" title="Bruh Test"></app-blog-post>
</div>
