p {
    margin: 0;
    color: var(--highlight-two);
    text-shadow: none;
}

.flex {
    display: flex;
}

.title {
    font-size: 2rem;
}

.info {
    font-size: .75rem;
    font-family: "JetBrains Mono", monospace;
    text-transform: uppercase;
}

.date, .tags {
    background-color: var(--primary-color);
    padding: .2rem;
    border-radius: .2rem;
    margin-right: .4rem;
}

.blog-post {
    margin-inline: 20%;
    border-bottom: var(--primary-color) solid 3px;
    padding-bottom: 1rem;
}
