/* You can add global styles to this file, and also import other style files */

body {
    background-color: black;
    margin: 0px;
    font-weight: bold;
    font-family: "Kanit",sans-serif;
    text-shadow: 3px 3px rgb(96, 96, 221);
    overflow-x: hidden;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: rgb(96, 96, 221)  rgb(15, 14, 19);
        scrollbar-width: thin;
    }
}

::-webkit-scrollbar-track {
    background-color: rgb(15, 14, 19);
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(96, 96, 221);
    border-radius: .2em;
}
